<div>
  {{#each product}}
  <h1>{{this.title}}</h1>
  <p>Price: {{this.price}}</p>
  <p>Description: {{this.description}}</p>
  <p>Stock: {{this.stock}}</p>
  <p>Category: {{this.category}}</p>

  <button>Agregar al carrito</button>
  {{/each}}
</div>