<div>
    {{#if user}}
    <h1>Bienvenido {{user.first_name}}!!!</h1>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.rol}}</p>
    <a href="/profile">Ver Perfil</a>
    <a href="/api/sessions/logout"><button>Salir</button></a>
    <br><br><br>
    {{/if}}


    {{#each products}}
    <p><a href="/products/{{this._id}}">{{this.title}} - {{this.price}}</a></p>
    {{/each}}

    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}


</div>
