<div>
    <h1>Tu perfil</h1>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <p>{{user.rol}}</p>
    <p>{{user.password}}</p>

    <a href="/api/session/logout"><button>Salir</button></a>
</div>